.App {
  text-align: center;
}

main {
  margin:0;
  margin-bottom: 5%;
  box-sizing: border-box;
}

footer {
  background-color: #282c34;
  color: white;
  padding: 5px;
  position: fixed;
  bottom: 0;
  height:2%;
  width: 100%;
}


@media (max-width: 600px) {
  .movie-card {
    width: 100%;
  }

  .search-bar {
    flex-direction: column;
    gap: 10px;
  }

  .search-bar form {
    flex-direction: column;
  }
}
