.modal {
    position: fixed; 
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(9, 8, 8, 0.802); 
    display: flex;
    justify-content: center;
    align-items: center;
    /*mess around with this*/
    z-index: 2000; 
}

.modalContent {
    background: rgb(194, 223, 242);
    padding: 20px;
    border-radius: 8px;
    max-width: 500px;
    width: 90%;
    height: 75%;
    box-shadow: 0 5px 30px rgba(55, 0, 255, 0.591);
    position: relative;
    overflow:scroll
}

.close {
    position: absolute;
    top: 10px;
    right: 15px;
    font-size: 24px;
    cursor: pointer;
}

.modalImg{
    width: 80%;
    height: auto;
    box-sizing: border-box;
    border: solid 10px rgb(21, 30, 83);
    border-radius: 5%;
}

.modalTitle {
    font-family: "Martian Mono", monospace;
    color: rgb(6, 0, 84);
}
